<a
  class="flex-col justify-center items-center"
  [routerLink]="tab.path"
  (click)="onTabSelected()">
  <div
    class="flex justify-center items-center p-2 my-2 px-4 rounded-md"
    [ngClass]="{ 'bg-violet-300': this.isSelected }">
    <img class="w-5 h-full" [src]="tab.icon" [alt]="tab.title" />
  </div>
  <div class="whitespace-nowrap">
    <h4 class="mt-2 min-w-11">{{ tab.title }}</h4>
  </div>
</a>
