<div
  class="fixed bottom-0 left-0 z-50 w-full h-20 bg-white border-t border-gray-200">
  <nav class="grid h-full max-w-lg grid-cols-3 mx-auto font-medium">
    <div *ngFor="let tab of tabs" class="flex justify-center items-center">
      <app-tab
        class="inline-flex flex-col items-center justify-center px-5 hover:bg-gray-50"
        [isSelected]="getIsSelectedTab(tab.id)"
        [tab]="getSelectedTab(tab.id)"
        (tabSelected)="onTabSelected(tab.id)"></app-tab>
    </div>
  </nav>
</div>
