<div class="flex items-center justify-center">
  <form class="w-full max-w-md">
    <label for="start" class="block text-sm font-medium text-gray-700"
      >Start Date</label
    >
    <input
      type="date"
      id="start"
      name="start"
      class="mt-1 p-2 border rounded-md w-full"
      [(ngModel)]="startDate"
      (change)="onChangeSetStartDate($event)" />

    <label for="end" class="block mt-4 text-sm font-medium text-gray-700"
      >End Date</label
    >
    <input
      type="date"
      id="end"
      name="end"
      class="mt-1 p-2 border rounded-md w-full"
      [(ngModel)]="endDate"
      (change)="onChangeSetEndDate($event)" />

    <!-- <button
      class="mt-4 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
      (click)="submitDateRange()">
      Submit
    </button> -->
  </form>
</div>
