<label
  for="themeSwitcherThree"
  class="themeSwitcherThree relative inline-flex cursor-pointer select-none items-center p-2">
  <input
    type="checkbox"
    name="themeSwitcherThree"
    id="themeSwitcherThree"
    class="sr-only"
    (change)="handleCheckboxChange()"
    [formControl]="toggleMapCard" />
  <span class="mr-[18px] text-sm font-medium text-dark dark:text-white"> </span>
  <div class="flex gap-2">
    <div
      class="px-5 py-2 rounded-lg"
      [ngClass]="!toggleMapCard.value ? 'bg-red-700 text-white' : 'bg-white text-red-700'">
      <div class="flex">
        <p>Liste</p>
        <span class="material-symbols-outlined"> menu </span>
      </div>
    </div>
    <div
      class="px-5 py-2 rounded-lg"
      [ngClass]="toggleMapCard.value ? 'bg-red-700 text-white' : 'bg-white text-red-700'">
      <div class="flex">
        <p>Carte</p>
        <span class="material-symbols-outlined"> map </span>
      </div>
    </div>
  </div>
</label>
