@if (cardDetails) {
  <section class="my-2 text-sm max-w-md">
      <div class="flex flex-wrap">
        <div class="w-full px-4 ">
          <!-- contour de la carte -->
          <div class="bg-violet-50 overflow-hidden duration-300 rounded-lg">
            <img
              src="https://media.istockphoto.com/id/520791969/fr/photo/ville-fortifi%C3%A9e-de-la-ville-m%C3%A9di%C3%A9vale-de-carcassonne-france.jpg?s=612x612&w=0&k=20&c=nzKm53E604xl4BlzHc_701EFHWS-6FVL69za-ORmTng="
              alt="image"
              class="w-full"
              *ngIf="isExpanded" />
            <!-- encart titre -->
            <div class="flex flex-row items-center justify-between p-4" id="reduced-card">
              <img src="./assets/icons/profile-logo.svg" alt="Image Profil" />
              <div class="flex items-center flex-row">
                <div class="px-4">
                  <h3>{{cardDetails.nom_de_la_manifestation}}</h3>
                  <p>{{cardDetails.date_debut}}</p>
                </div>
              </div>
              <button
                class="hover:underline cursor-pointer"
                (click)="toggleNotification()">
                <img
                  src="./assets/icons/bell-card.svg"
                  alt="Notification"
                  *ngIf="!isNotificated" />
                <img
                  src="./assets/icons/bell-filled.svg"
                  alt="Notification"
                  *ngIf="isNotificated" />
              </button>
              <button
                class="text-center hover:underline cursor-pointer"
                (click)="toggleCard()">
                <span class="material-symbols-outlined" *ngIf="isExpanded"
                  >expand_less</span
                >
                <span class="material-symbols-outlined" *ngIf="!isExpanded"
                  >expand_more</span
                >
              </button>
            </div>
            <img
              src="./assets/icons/separator.svg"
              alt="Séparateur"
              class="mx-auto"/>
            
            <!-- encart texte -->
            <div class="px-3 p-4">
              <div class="h-40 overflow-auto" *ngIf="isExpanded">
                <div class="text-sm">
                  <p>{{cardDetails.lieu_nom}}</p>
                  <p>{{cardDetails.code_postal}}</p>
                  <p>{{cardDetails.commune}}</p>
                </div>
                <p class="text-sm">{{cardDetails.descriptif_long}}</p>
                <a href="{{cardDetails.reservation_site_internet}}">Réservez sur notre site</a>
                <p>{{cardDetails.tarif_normal}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>
}
