<nav class="flex flex-row justify-around bg-blue-950 p-6" id="header-grid">
    <div>
        <img class="w-32" src="assets/logo-occitanie.png">
    </div>
    <div class="text-white text-center">
        <p>Bienvenue en <B>Occitanie</B> !</p>
        <p>Découvrez nos événements proches de chez vous</p>
    </div>
</nav>
