<app-header></app-header>
<!-- <app-toggle-map id="toggle-map" ></app-toggle-map> -->
<div class="relative">
  <div class="map z-0" leaflet [leafletOptions]="options"></div>
  <app-card-list
    class="absolute top-0 left-0 bg-white h-screen"
    [cardList]="events" />
</div>
<div class="relative">
  <app-modal-search
    (stateModal)="setfilterModalIsOpen()"
    [isOpen]="filterModalIsOpen"
    [ngClass]="{'modal': !this.filterModalIsOpen}"></app-modal-search>
</div>
