.modal {
  z-index: 60;
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  height: 100%;
  padding: 300px;
}

@media screen and (min-width: 768px) {
  #toggle-map {
    display: none;
  }
}
