<main class="modal-main">
  <!-- Modal toggle -->

  @if(!isOpen) {
  <button
    (click)="setStateModal(!isOpen)"
    [ngClass]="{'modalClosed': isOpen}"
    class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-12 rounded-full text-center align-middle"
    type="button">
    Filtres
    <span class="material-symbols-outlined text-center align-middle">
      tune
    </span>
  </button>
  } @else {
  <div
    class="fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="bgModal relative bg-white rounded-lg shadow dark:bg-gray-700">
        <!-- Modal header -->
        <button (click)="setStateModal(!isOpen)" class="text-center w-full">
          <span class="material-symbols-outlined text-4xl"> minimize </span>
        </button>
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
  }
</main>

<!--
<main class="modal-main">

  <button
    data-modal-target="modalFilter"
    data-modal-toggle="modalFilter"
    data-modal-show="modalFilter"
    (click)="setStateModal(!isOpen)"
    [ngClass]="{'modalClosed': isOpen}"
    class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-12 rounded-full text-center align-middle"
    type="button">
    Filtres
    <span class="material-symbols-outlined text-center align-middle">
      tune
    </span>
  </button>


  <div
    id="modalFilter"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">

      <div class="bgModal relative bg-white rounded-lg shadow dark:bg-gray-700">

        <div class="text-center" (click)="setStateModal(!isOpen)">
          <span class="material-symbols-outlined text-4xl"> minimize </span>
        </div>
        <div
          class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </div>
</main> -->
