<div class="max-w-sm mx-auto">
  <label
    for="countries"
    class="block mb-2 text-sm font-medium text-violet-950 dark:text-white"
    >Select an option</label
  >
  <select
    (change)="setCategory($event)"
    id="countries"
    class="bg-gray-50 border border-gray-300 text-violet-950 text-sm rounded-full focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option>Choose a category</option>
    @for (category of categories; track $index) {
    <option [selected]="category.title === this.SearchFiltersService.category">
      {{category.title}}
    </option>
    }
  </select>
</div>
