<div class="flex gap-4">
  <app-search-bar></app-search-bar>
  <app-toggle-free
    [isFree]="isFree"
    (isCheckIsFree)="setIsFree()"></app-toggle-free>
</div>
<div class="flex gap-4">
  <app-filter-category [category]="category"></app-filter-category>
  <app-filter-city [city]="city"></app-filter-city>
</div>
<app-date-picker [startDate]="startDate" [endDate]="endDate"></app-date-picker>
<button (click)="getFilteredEventsAPI()">Search</button>
